<app-title></app-title>
<div class="arrange">
    <h2>Tweets</h2>
    <div class="chat">
        <span>Lorem ipsum dolor sit amet consectetur adipisicing<span>name</span></span>
        <span>Lorem ipsum dolor sit amet <span>Felipe</span></span>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla perferendis quisquam eum<span>Marlon</span>
        </span>
        <span>Lorem ipsum dolor sit amet consectetur adipisicings<span>Graça</span></span>
    </div>
    <form class="form">
        <input type="text" name="tweet" id="" placeholder="Mensagem">
        <button>Enviar</button>
    </form>
</div>