<div class="arrange">
    <div class="image">
        <img src="../../assets/people.svg" alt="logo" />
    </div>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form">
        <h1>Sign Up</h1>
        <div>
            <input formControlName="username" type="text" placeholder="Username" />
            <input formControlName="avatar" type="url" placeholder="Avatar" />
            <button type="submit">Join</button>
            <div class="response">
                <span>{{responseMessage}}</span>
            </div>
        </div>
    </form>
</div>